.destinations{
    padding: 20px 0;
}
.destinations .heading p{
    font-size: 20px;
    text-transform: uppercase;
    color: #ff5333;
    letter-spacing: 1.8px;
    line-height: 2;
}
.destinations .heading h2{
    font-weight: bold;
    font-size: 38px;
    line-height: 1.2;

}
.destinations .slider {
    margin-top: 40px;
    position: relative;
}
.visible-part{
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    z-index: 100;
}
.shadow-left{
    left: 0;
    background-image: linear-gradient(to right, rgb(255, 255, 255, 1) 0%, rgb(255, 255, 255, 0) 100%);

}
.shadow-right{
    right: 0;
    background-image: linear-gradient(to left, rgb(255, 255, 255, 1) 0%, rgb(255, 255, 255, 0) 100%);
    
}
.hide{
    background-image: none;
}
.show{
    background-image: linear-gradient(to left, rgb(255, 255, 255, 1) 0%, rgb(255, 255, 255, 0) 100%);
}
/* .destinations .slider::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    z-index: 100;
    background-image: linear-gradient(to right, rgb(255, 255, 255, 1) 0%, rgb(255, 255, 255, 0) 100%);
}
.destinations .slider::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    z-index: 100;
    background-image: linear-gradient(to left, rgb(255, 255, 255, 1) 0%, rgb(255, 255, 255, 0) 100%);
} */
