.part-section{
    position: relative;
    padding: 60px 10px;
}
.vector{
    top: -75px;
    left: -120px;
}
.part-section .content{
    justify-content: space-around;
}
.part-section .content img{
    width: 80px;

}