.services{
    display: flex;
    gap: 40px;
}
.services .heading{
    width: 50%;
    padding-left: 150px;
    padding-bottom: 30px;

}
.services .heading p{
    font-size: 20px;
    text-transform: uppercase;
    color: #ff5333;
    letter-spacing: 1.8px;
    line-height: 2;
}
.services .heading h2{
    font-weight: bold;
    font-size: 38px;
    line-height: 1.2;

}
.services .content-text{
    width: 50%;
    display: flex;
    overflow: hidden;
    gap: 20px;
    padding: 60px 10px 100px 10px;
    position: relative;

}
.services .content-text::after{
    content: "\279C";
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 22px;
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.5);;
    top: 50%;
    transform: translateY(-85%);
    right: 10px;
    display: none;
    color: white;
    border: 1px solid rgb(202, 200, 204);
    
    cursor: pointer; 
}
.services .content-text::after:hover{
    border: 1px solid #77747E;

}
.services .content-text:hover::after{
  display: block;
}
.services .content-text .service{
    flex: none;
    width: 240px;
    padding: 40px;
    text-align: center;
}
.services .content-text .service:first-of-type{

}
.services .content-text .service:nth-last-of-type(2){
    /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.105); */
    box-shadow: 0px 41px 89px 0px rgba(0, 0, 0, 10%);
    border-radius: 32px;

}
.services .content-text .service:last-of-type{
    box-shadow: 0px 41px 89px 0px rgba(0, 0, 0, 10%);
    border-radius: 32px;

}
.services .content-text .service img{
    width: 40px;
    margin: auto;

}
.services .content-text .service h3{
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
}
.services .content-text .service p{
    color: rgba(0, 0, 0, 50%);
    font-size: 14px;
    margin-top: 30px;
    line-height: 1.8;
    /* padding-bottom: 10px; */
    /* padding: 5px; */
}