@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}



@layer components {



}
@keyframes pulsate {
  0% {
       opacity: 1;
     }
  50% {
      opacity: 0.8;
  }
  100% {
      opacity: 0;
  }
}

@layer utilities {

   /* .place-animate::before{
     content: '';
     position: absolute;
     width: 10px;
     height: 10px;
     border-radius: 100%;
     background-color: #FF6447;
     top: 6px;
     left: 4px;
   }
   .place-animate::after{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border: 2px solid #FF6447;
    background-color: transparent;
    border-radius: 100%;
    top: 2px;
    left: 0px;
    animation: pulsate 0.8s ease-out infinite;
    opacity: 0;
  } */
  .z-index{
    z-index: 300;
    background-color: rgb(0, 0, 0, 0.6);
  }
  .transition-transform {
    transition: transform 0.5s ease;
  }
  .item-width{
    width: calc(100% / 3);
    position: absolute;
  }
  .image-place::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.07);
    top: 0;
    left: 0;
    z-index: 10;
    cursor: pointer;
}
.image-place:hover::before{
    background-color: transparent;
    transition: all 0.5s;
}
   .active-link::before{
     content: '';
     position: absolute;
     background-color: #FF6447;
     border-radius: 100px;
     /* left: 50%; */
     /* transform: translateX(-50%); */
     left: 3%;
     bottom: -3px;
     width: 44%;
     height: 3px;
   }
   .menu-open {
    transform: translateX(0);
    /* width: 50%; */
    opacity: 1;
  }
  
  .menu-closed {
    transform: translateX(100%);
    /* width: 0%; */
    opacity: 0;
  }
  .placeholder{
    font-size: 18px;
    text-transform: capitalize;
  }
  .visible-part{
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    z-index: 100;
  }
  .shadow-left{
      left: 0px;
      z-index: 2;
      background-image: linear-gradient(to right, rgb(255, 255, 255, 1) 0%, rgb(255, 255, 255, 0) 100%);

  }
  .shadow-right{
      right: 0px;
      z-index: 2;
      background-image: linear-gradient(to left, rgb(255, 255, 255, 1) 0%, rgb(255, 255, 255, 0) 100%);
      
  }
  .hide{
      background-image: none;
  }
  .show{
      background-image: linear-gradient(to left, rgb(255, 255, 255, 1) 0%, rgb(255, 255, 255, 0) 100%);
  }
}
